@import "../less/bootstrap.less";

@gray:	#363636;
@blue:	#0599b0;
@green:	#a4bd0a;
@orange:	#ff8e0a;
@red:	#ff2e00;

@brand-primary:	@blue;
@brand-success:	@green;
@brand-info:            #5bc0de;
@brand-warning:	@orange;
@brand-danger:	@red;

@navbar-default-link-color:	@link-color;

@state-primary-text: @blue;
@state-success-text: @green;
@state-warning-text: @orange;

.navbar-brand {
	padding: 0;
	
	img {
		height: 100%;
	}
}
